<h1>Samsung Galaxy</h1>
<p>Samsung Galaxy  is a series of computing and mobile computing devices that are designed, manufactured and marketed by Samsung Electronics. 
    The product line includes the Samsung Galaxy S series of high-end smartphones, the Samsung Galaxy Tab series of tablets, 
    the Samsung Galaxy Note series of tablets and phablets with the added functionality of a stylus, the foldable Samsung Galaxy Z series.
    Samsung Galaxy devices use the Android operating system produced by Google, with a custom user interface called One UI (with previous versions being known as Samsung Experience and TouchWiz). 
</p>
<h3>List of Mobiles in 2021</h3>

<table id="customers">
  <tr>
    <th>Mobiles</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Samsung Galaxy M52</td>
    <td>25,000</td>
  </tr>
  <tr>
    <td>Samsung Galaxy M32</td>
    <td>15,000</td>
  </tr>
  <tr>
    <td>Samsung Galaxy M31s</td>
    <td>15,000</td>
  </tr>
  <tr>
    <td>Samsung Galaxy M12</td>
    <td>11,000</td>
  </tr>
  <tr>
    <td>Samsung Galaxy M51</td>
    <td>20,000</td>
  </tr>
</table>