<h1>Dell</h1>
<p>
    Dell is an American multinational computer technology company that develops, sells, repairs, and supports computers and related products and services.
    Dell business laptops are specially made to handle heavy workloads and multi-task operations. They can be used for long hours and are ideal for travel. 
    These laptops often feature extended and replaceable batteries, premium hardware, tighter security measures, sophisticated looks, and more, making them suitable for business operations. 
    The business laptops from Dell offer a selection of models such as Vostro and Latitude. 
</p>
<h3>List of Laptops in 2021</h3>
<table id="customers">
  <tr>
    <th>Laptops</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Dell Inspiron 3567</td>
    <td>45,000</td>
  </tr>
  <tr>
    <td>Dell Inspiron 3552</td>
    <td>50,000</td>
  </tr>
  <tr>
    <td>Dell Inspiron 5567</td>
    <td>70,000</td>
  </tr>
  <tr>
    <td>Dell Latitude</td>
    <td>60,000</td>
  </tr>
</table>