<div class="product-list">
<div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/1092644/pexels-photo-1092644.jpeg?cs=srgb&dl=pexels-lisa-1092644.jpg&fm=jpg" class="card-img-top" alt="mobile" >
    <div class="card-body">
      <h5 class="card-title">Samsung Mobile</h5>
      <p class="card-text">Samsung Galaxy</p>
      <a href="" routerLink="mobile" class="btn btn-primary">Mobile</a><br>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?cs=srgb&dl=pexels-nao-triponez-129208.jpg&fm=jpg" class="card-img-top" alt="..">
    <div class="card-body">
      <h5 class="card-title">Dell laptop</h5>
      <p class="card-text">Dell Laptop</p>
      <a href="" routerLink="laptop" class="btn btn-primary">Laptop</a>
    </div>
  </div>
  <div class="">
      <router-outlet></router-outlet>
  </div>
 